.form__row {
  display: flex;
  margin-bottom: 23px;
}

.form__input {
  flex: 1;
  margin-right: 28px;
  border-radius: 5px;
  border: 1px solid transparent;
  background: #fff;
  padding: 25px 31px;
  font-size: 18px;
  color: #1A1B1E;
}

.form__input:last-child {
  margin-right: 0;
}

.form__input:focus {
  outline: none;
  border: 1px solid #F5170E;
}

.form__input::placeholder {
  color: #666;
}

.form__input--textarea {
  height: 235px;
  resize: none;
}

.form__controls-title {
  font-size: 18px;
  line-height: 21px;
  width: 35%;
  margin-right: 32px;
}

.controls__elem {
  cursor: pointer;
}

.controls__checkbox:checked ~ .tag__controls {
  background: #B9EAE4;
}

.controls__checkbox {
  display: none;
}

.form__controls {
  display: flex;
  margin-bottom: 38px;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
}

.form__controls-list {
  flex: 1;
}

.form__btns {
  display: flex;
  justify-content: flex-end;
}

.form__btn {
  margin-right: 17px;
}

.form__btn:last-child {
  margin-right: 0;
}