.title {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  color: #fff;
  
}

.title--fire {
  display: flex;
  align-items: center;
}

.tours__container-title {
  margin-bottom: 52px;
}

.title--fire:after {
  content: "";
  background: url("../../img/flame.png") no-repeat;
  margin-left: 10px;
  width: 21px;
  height: 28px;
}

.news__container-title {
  margin-bottom: 52px;
}

.about__content-title{
  margin-bottom: 34px;
}

.title--dark {
  color: #000;
}